API_PORT=3000
NODE_ENV=production

MONGO_URI=mongodb://mongo:27017/primarie_envforge
MONGO_DB_NAME=primarie_envforge

JWT_SECRET=replace-with-a-long-random-jwt-secret
JWT_EXPIRES_IN=12h
ELECTRON_ACCESS_KEY=replace-with-local-electron-access-key

BASE_ENV_PORT=8001
ROOT_DOMAIN=prmr.md
