.env
requirements
node_modules
dist
apps/electron/out
runtime/environments/*
runtime/db/*
!runtime/environments/.gitkeep
!runtime/db/.gitkeep
runtime/environments.json
npm-debug.log*
source
proxy/ssl/*
!proxy/ssl/.gitkeep
